* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
    max-width: 1280px;
}

body {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

/*  forth-section*/
.head-section {
    max-width: 450px;
    margin: auto;
    margin-top: 70px;
}

.headin-func-section {
    color: #666666;
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: "Roboto", serif;

}

.title-sec {
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-family: 'Playfair Display',
        serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.loremn-section-third {
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-bottom: 30px;
}

/*  */
.aencr-tage {
    text-decoration: none;
    list-style: none;
    color: white;
    border: white 2px solid;
    padding: 12px;
    font-size: 20px;
}

.head-task {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'jost';
}

.title-tage {
    font-size: 40px;
    margin-bottom: 50px;

}

.splide {
    visibility: visible;
}


.header-class {
    display: flex;
    justify-content: space-between;
}

.wrap-section {
    position: relative;


}

.title-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 420px;
}

.loremn-section {

    font-size: 20px;
    max-width: 450px;
}

/* imge-section */

.imge-class {
    height: 100vh;
    width: 100%;
    position: relative;
}

.main-block-img img {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.image-center-sec {

    z-index: 10;
    background-color: black;
    opacity: 0.4;
    pointer-events: none;
    z-index: 2;
    position: relative;
}

.image-center-sec::after {
    content: "";
    position: absolute;
    inset: 0;

    z-index: 2;
}

.imge-class::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.4;
    pointer-events: none;
    z-index: 2;
    top: 0;
    left: 0;
}

.imge-class img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-splide {}

/*  */
/*  */
.third-section {

    width: 100%;
    height: 400px;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
}

.main-wrap-third-sec {
    margin: auto;
    max-width: 480px;
}

.coffe-section {
    margin-top: 40px;
}

.coffe-section img {

    width: 65px;
    padding-top: 14px;
}

.line {

    width: 50px;
    height: 2px;
    background: #666666;
    display: block;
    margin: 0px auto 44px;

}

.title-coffe-section {
    color: #525151e1;
    padding: 30px;
    font-weight: 300;
    align-items: center;
    font-size: 36px;
}

.loremn-section-second {
    font-size: 14px;
    text-align: center;
    color: #666666a9;
}

/* img section end */
.media-section {
    height: 114px;
    width: 88px;
    align-items: center;

}

.splide .splide__arrow {
    svg {
        filter: invert(1);
        display: none;
    }
}

.splide__pagination__page {
    display: none;
}

/*  */
/*  */


.splide__slide {
    img {
        display: block;
        width: 100%;
        transition: transform 400ms;
        transform: scale(.9.5);
        transform-origin: center center;
    }
}

.main-slide {
    img {
        display: block;
        width: 100%;
        height: 500px;


    }
}


.splide__slide.is-active {
    img {
        transform: scale(1);
    }
}

.splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: .9;

    svg {
        filter: invert(1);
        width: 24px;
        height: 24px;
    }
}

.splide__arrow.splide__arrow--prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
}

.splide__arrow.splide__arrow--next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
}


/*  */
/*  */
.under-line {
    display: flex;
    align-items: center;
    gap: 114px;
    list-style-type: none;
}

/* tow-silder-sec */

.tow-silder-sec {
    max-height: 550px;

    background-color: black;
}

.main-wrapper-blocK {

    display: flex;
    align-items: center;
}

.main-block-start,
.main-block-img,
.main-block-end {
    width: calc(100% / 3);
    position: relative;
}

.header-button-sec {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.slider__tow-sec img {

    width: 100%;
    height: 400px;
    object-fit: cover;

}

@media (max-width:767.99px) {

    .main-wrapper-blocK {

        display: flex;
        flex-direction: column;

    }

    tow-sec img {
        width: 100%;
    }

    .splide {
        padding: 0;
    }

    .main-block-start,
    .main-block-img,
    .main-block-end {
        width: 100%;

    }
}