* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
}

.splide {
    visibility: visible !important;
}


.header-class {
    display: flex;
    justify-content: space-between;
}

.wrap-section {
    position: relative;
   

}

.title-section {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: rgb(253, 253, 252);
    text-align: center;
    font-family:'jost';
    font: message-box;
    max-width: 435px;
    
}
h1{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 420px;
}
.loremn-section{
    font-size: 20px;
    

}

.imge-class {
    height: 100vh;
    width: 100%;
    position: relative;

}

.imge-class::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
}

.imge-class img {
    object-fit: cover;
    height: 100%;
    width: 100%;





}

.media-section {
    height: 114px;
    width: 88px;
    align-items: center;

}

.under-line {
    display: flex;
    align-items: center;
    gap: 114px;
    list-style-type: none;



}

