* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
    max-width: 1280px;
}

body {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

.tow-silder-sec .splide__slide {
    position: relative;
}

/*  */
.swiper-section {
    background-color: #e8e6bd;
    padding: 7px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-swiper {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", serif;

}

.loremn-swiper {
    font-size: 18px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    margin-top: 25px;
}

/*  */
.figure {
    position: relative;
    width:100%;
    
}

.figure img {
    display: block;
    width: 100%;
    height: 100%;
}
.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease;
}
.figure:hover .image-hover {
    opacity: 1;
}
.figure:hover .image-main {
    opacity: 0;
    transition: opacity .4s ease;
}

/*  */

/*  forth-section*/
.head-section {
    max-width: 450px;
    margin: auto;
    margin-top: 55px;
}

.headin-func-section {
    color: #666666;
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: "Roboto", serif;

}

.title-sec {
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.loremn-section-third {
    font-size: 16px;
    color: #666666;
    padding-bottom: 40px;
}

/*  */
.aencr-tage {
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 12px;
    font-size: 20px;
}

.head-task {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'jost';
}

.title-tage {
    font-size: 40px;
    margin-bottom: 50px;

}

.splide {
    visibility: visible;
}


.header-class {
    display: flex;
    justify-content: space-between;
}

.wrap-section {
    position: relative;


}

.title-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 420px;
}

.loremn-section {

    font-size: 20px;
    max-width: 450px;
}

/* imge-section */




.image-center-sec img {
    /* position: relative; */
    display: block;
    width: 100%;
    object-fit: cover;
}

.image-center-sec {
    background-color: black;
    opacity: 0.4;
    z-index: 2;
}

/*  */

.imge-class {
    height: 100vh;
    width: 100%;
    position: relative;
}

.imge-class::after {
    content: "";
    position: absolute;
    background-color: black;
    inset: 0;
    opacity: 0.4;
    z-index: 2;
}

.imge-class img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  */
.third-section {

    width: 100%;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
}

.main-wrap-third-sec {
    margin: auto;
    max-width: 480px;
}

.coffe-section {
    margin-top: 40px;
}

.coffe-section img {

    width: 65px;
}

.line {

    width: 50px;
    height: 2px;
    background: #666666;
    margin-top: 50px;
    display: block;
    margin: 0px auto 44px;

}

.title-coffe-section {
    color: #525151e1;
    padding-top: 30px;
    padding-bottom: 23px;
    font-weight: 300;
    font-size: 36px;
}

.loremn-section-second {
    font-size: 14px;
    color: #666666a9;
    padding-bottom: 78px;
}

/* img section end */

/*  */
.splide__pagination__page {
    background: #ccc;
    border: px solid;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 4px;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
    width: 6px;

}   

.splide__slide {
    img {
        display: block;
        width: 100%;
        transition: transform 400ms;
        transform-origin: center center;
    }
}

.main-slide {
    img {
        display: block;
        width: 100%;
        height: 500px;


    }
}


.splide__slide.is-active {
    img {
        transform: scale(1);
    }
}

.splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: .9;

    svg {
        filter: invert(1);
        width: 24px;
        height: 24px;
        display: none;
    }
}

.splide__arrow.splide__arrow--prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
}

.splide__arrow.splide__arrow--next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
}

/*  */
.under-line {
    display: flex;
    align-items: center;
    gap: 114px;
    list-style-type: none;
}

/* tow-silder-sec */

.tow-silder-sec {
    background-color: black;
}

.main-wrapper-blocK {
    display: flex;
}

.main-block-start,
.main-block-img,
.main-block-end {
    width: calc(100% / 3);
    position: relative;
}

.header-button-sec {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.slider__tow-sec img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*  */
@media (max-width:767.99px) {

    .main-wrapper-blocK {

        display: flex;
        flex-direction: column;

    }

    .imge-class {
        height: 70vh;
    }

    .slider__tow-sec img {
        object-fit: cover;
    }

    .splide {
        padding: 0;
    }

    .main-block-start,
    .main-block-img,
    .main-block-end {
        width: 100%;
        
    }

    h1 {
        font-size: 46px;
    }

    .loremn-section {
        font-size: 18px;
    }
}

/*  */
@media (max-width:556.99px) {
    h1 {
        font-size: 41px;
    }

    .loremn-section {
        font-size: 16px;
    }
}

/*  */
@media (max-width:371.99px) {
    h1 {
        font-size: 30px;
    }

    .loremn-section {
        font-size: 16px;
    }


    .title-coffe-section {
        font-size: 30px;
    }


    .loremn-section-third {
        font-size: 14px;
    }

    .headin-func-section {
        font-size: 33px;
    }

}