* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
}

body {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

/*  */

.tow-silder-sec .splide__slide {
    position: relative;
}

.swiper-section {
    background-color: #e8e6bd;
    text-align: center;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-swiper {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", serif;
}

.loremn-swiper {
    font-size: 18px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    margin-top: 25px;
}

/*  */

.figure {
    position: relative;
    max-width: 500px;
    overflow: hidden;
}

.figure img.Sirv.image-hover {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s;
}

.figure:hover img.Sirv.image-hover {
    opacity: 1;
}

/*  */

.head-section {
    max-width: 450px;
    margin: 70px auto 0;
}

.headin-func-section {
    color: #666;
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: "Roboto", serif;
}

.title-sec {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.loremn-section-third {
    font-size: 16px;
    color: #666;
    padding-bottom: 30px;
}

.aencr-tage {
    text-decoration: none;
    border: 1px solid white;
    padding: 12px;
    font-size: 20px;
    color: white;
}

.head-task {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'jost';
}

.title-tage {
    font-size: 40px;
    margin-bottom: 50px;
}

/* */

.imge-class {
    height: 100vh;
    width: 100%;
    position: relative;
}

.imge-class img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imge-class::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 2;
}

/* */

.third-section {
    width: 100%;
    height: 400px;
    background-color: white;
    color: black;
    text-align: center;
}

.main-wrap-third-sec {
    max-width: 480px;
    margin: auto;
}

.coffe-section {
    margin-top: 40px;
}

.coffe-section img {
    width: 65px;
    padding-top: 14px;
}

.line {
    width: 50px;
    height: 2px;
    background: #666;
    margin: 0 auto 44px;
}

.title-coffe-section {
    color: #525151e1;
    padding: 30px;
    font-weight: 300;
    font-size: 36px;
}

.loremn-section-second {
    font-size: 14px;
    color: #666666a9;
}

/*  */

.splide__slide img {
    display: block;
    width: 100%;
    transition: transform 400ms;
    transform-origin: center center;
}

.splide__slide.is-active img {
    transform: scale(1);
}

.splide__arrow {
    top: 0;
    bottom: 0;
    width: 50px;
    opacity: .9;
}

.splide__arrow--prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, .7), transparent);
}

.splide__arrow--next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, .7), transparent);
}

/* */

.tow-silder-sec {
    background-color: black;
}

.main-wrapper-blocK {
    display: flex;
}

.main-block-start,
.main-block-img,
.main-block-end {
    width: 33.33%;
    position: relative;
}

.header-button-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slider__tow-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */

@media (max-width: 767.99px) {
    .main-wrapper-blocK {
        flex-direction: column;
    }

    h1 {
        font-size: 46px;
    }

    .loremn-section {
        font-size: 18px;
    }
}

@media (max-width: 556.99px) {
    h1 {
        font-size: 41px;
    }

    .loremn-section {
        font-size: 16px;
    }
}

@media (max-width: 371.99px) {
    h1 {
        font-size: 30px;
    }

    .loremn-section-third {
        font-size: 14px;
    }

    .title-coffe-section {
        font-size: 30px;
    }

    .headin-func-section {
        font-size: 33px;
    }
}